@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
:root {
  --primary-color: #297373;       /* Dark Teal - Primary accent for actions and interactive elements */
  --secondary-color: #001427;     /* Dark Navy - Core background color for deep, immersive contrast */
  --accent-color: #7D7ABC;        /* Muted Indigo - Subtle contrast for secondary highlights and buttons */
  --background-color: #FCF7F8;    /* Soft White for Background, Reversed in Dark Mode */
  --text-color: #FCF7F8;          /* Soft White - Standard text for readability */
  --highlight-color: #52DEE5;     /* Aqua Blue - Adds vibrancy for key visual interest points */
}

html {
  --section-background-color: var(--secondary-color);
  --image-gradient: var(--primary-color);
  --imp-text-color: var(--text-color);
}



body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}
