@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
:root {
  --primary-color: #52DEE5;        /* Bright Aqua - Great for primary accents and action elements */
  --secondary-color: #297373;      /* Teal Green - Subtle, deep background for sections */
  --accent-color: #7D7ABC;         /* Lavender Blue - Soft accent for buttons or callouts */
  --background-color: #001427;     /* Deep Navy - Strong background, accessible contrast */
  --text-color: #FCF7F8;           /* Soft White - Ideal for text readability on dark backgrounds */
}

html {
  --section-background-color: var(--secondary-color);
  --image-gradient: var(--primary-color);
  --imp-text-color: var(--text-color);
}



body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}
